html * {
  font-family: 'Times New Roman', Times, serif;

}




h1 {
  color: aqua;

}

nav {
  background-color: lightgrey;
  width: 600px;
  border: 15px solid rgb(32, 0, 128);
  padding: 30px;
  margin: 40px;
}

h3 {
  display:inline;
  float:left;
  }

h4 {
  display:inline;
  float:right;
  }

  body{
    background-image: url('https://media.giphy.com/media/QCX3rhmaNrc7j8fqs3/giphy.gif');
    background-size: center;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}