html * {
  font-family: 'Times New Roman', Times, serif;

}

.info-card {
  background-color: lightgrey;
  border: 15px solid rgb(32, 0, 128);
}



h1 {
  color: aqua;
  text-align: center;

}

h2{
  text-align:center;
  margin-bottom: auto;
}

#testingContainer {
  background-color: lightgrey;
  width: 750px;
  border: 15px solid rgb(32, 0, 128);
  padding: 10px;
  margin: 10px;
  height: 500px;
  color: rgb(50, 10, 119);
}

h3 {
  display:inline;
  float:left;
  }


  #selectedPic {
    bottom: -100px;

  }

 
  body{
    background-image: url('https://media.giphy.com/media/QCX3rhmaNrc7j8fqs3/giphy.gif');
    background-size: center;
    height: 100vh;
    padding:0;
    margin:0;
}
    
    
    